<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="np.net.bishwadeep.bookshelf">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity" />
        <activity android:name=".dashboardActivity" />
        <activity android:name=".semesterActivity" />
        <activity android:name=".semesterActivity2" />
        <activity android:name=".bookActivity" />
        <activity android:name=".javaBook" />
        <activity android:name=".firstsem" />
        <activity android:name=".secondSem" />
        <activity android:name=".thirdSem" />
        <activity android:name=".fourthSem" />
        <activity android:name=".fifthSem" />
        <activity android:name=".sixthSem" />
        <activity android:name=".osVideos" />
        <activity android:name=".firstSemVideo" />
        <activity android:name=".secondSemVideos" />
        <activity android:name=".thirdSemVideos" />
        <activity android:name=".fourthSemVideos" />
        <activity android:name=".fifthSemVideos" />
        <activity android:name=".sixthSemVideos" />
        <activity android:name=".physicsVideos" />
        <activity android:name=".brochureActivity" />
        <activity android:name=".beActivity" />
        <activity android:name=".placementActivity" />
        <activity android:name=".coeActivity" />
        <activity android:name=".physicsM1" />
        <activity android:name=".physicsM2" />
        <activity android:name=".physicsM3" />
        <activity android:name=".physicsM4" />
        <activity android:name=".physcisM5" />
        <activity android:name=".floating" />
        <activity android:name=".electricalM1" />
        <activity android:name=".electricalM2" />
        <activity android:name=".electricalM3" />
        <activity android:name=".electricalM4" />
        <activity android:name=".electricalM5" />
        <activity android:name=".businessM1" />
        <activity android:name=".businessM2" />
        <activity android:name=".businessM3" />
        <activity android:name=".businessM4" />
        <activity android:name=".businessM5" />
        <activity android:name=".civilM1" />
        <activity android:name=".civilM2" />
        <activity android:name=".chemistryM1" />
        <activity android:name=".chemistryM2" />
        <activity android:name=".chemistryM3" />
        <activity android:name=".chemistryM4" />
        <activity android:name=".chemistryM5" />
        <activity android:name=".electronicsM1" />
        <activity android:name=".electronicsM2" />
        <activity android:name=".electronicsM3" />
        <activity android:name=".electronicsM4" />
        <activity android:name=".electronicsM5" />
        <activity android:name=".cM1" />
        <activity android:name=".cM2" />
        <activity android:name=".cM3" />
        <activity android:name=".cM4" />
        <activity android:name=".cM5" />
        <activity android:name=".adeM1" />
        <activity android:name=".adeM2" />
        <activity android:name=".adeM3" />
        <activity android:name=".adeM4" />
        <activity android:name=".adeM5" />
        <activity android:name=".dsM1" />
        <activity android:name=".dsM2" />
        <activity android:name=".dsM3" />
        <activity android:name=".dsM4" />
        <activity android:name=".dsM5" />
        <activity android:name=".unixM1" />
        <activity android:name=".unixM2" />
        <activity android:name=".unixM3" />
        <activity android:name=".unixM4" />
        <activity android:name=".mathsIVM1" />
        <activity android:name=".mathsIVM2" />
        <activity android:name=".mathsIVM3" />
        <activity android:name=".mathsIVM4" />
        <activity android:name=".mathsIVM5" />
        <activity android:name=".softskillsM1" />
        <activity android:name=".softskillsM2" />
        <activity android:name=".softskillsM3" />
        <activity android:name=".softskillsM4" />
        <activity android:name=".softskillsM5" />
        <activity android:name=".oopsM1" />
        <activity android:name=".oopsM2" />
        <activity android:name=".oopsM3" />
        <activity android:name=".oopsM4" />
        <activity android:name=".oopsM5" />
        <activity android:name=".mpM1" />
        <activity android:name=".mpM2" />
        <activity android:name=".mpM3" />
        <activity android:name=".mpM4" />
        <activity android:name=".mpM5" />
        <activity android:name=".coM1" />
        <activity android:name=".c0M1" />
        <activity android:name=".c0M2" />
        <activity android:name=".c0M3" />
        <activity android:name=".c0M4" />
        <activity android:name=".c0M5" />
        <activity android:name=".ccM1" />
        <activity android:name=".ccM2" />
        <activity android:name=".ccM3" />
        <activity android:name=".ccM4" />
        <activity android:name=".ccM5" />
        <activity android:name=".dbmsM1" />
        <activity android:name=".dbmsM2" />
        <activity android:name=".dbmsM3" />
        <activity android:name=".dbmsM5" />
        <activity android:name=".dbmsM4" />
        <activity android:name=".osM1" />
        <activity android:name=".osM2" />
        <activity android:name=".osM3" />
        <activity android:name=".osM4" />
        <activity android:name=".osM5" />
        <activity android:name=".seM1" />
        <activity android:name=".seM2" />
        <activity android:name=".seM3" />
        <activity android:name=".seM4" />
        <activity android:name=".seM5" />
        <activity android:name=".hpM1" />
        <activity android:name=".hpM2" />
        <activity android:name=".hpM3" />
        <activity android:name=".hpM4" />
        <activity android:name=".cnM1" />
        <activity android:name=".cnM2" />
        <activity android:name=".cnM3" />
        <activity android:name=".cnM4" />
        <activity android:name=".cnM5" />
        <activity android:name=".dmM1" />
        <activity android:name=".dmM2" />
        <activity android:name=".dmM3" />
        <activity android:name=".dmM4" />
        <activity android:name=".dmM5" />
        <activity android:name=".madM1" />
        <activity android:name=".madM2" />
        <activity android:name=".madM3" />
        <activity android:name=".madM4" />
        <activity android:name=".madM5" />
        <activity android:name=".webM1" />
        <activity android:name=".webM2" />
        <activity android:name=".webM3" />
        <activity android:name=".webM4" />
        <activity android:name=".webM5" />
        <activity android:name=".javaM1" />
        <activity android:name=".javaM2" />
        <activity android:name=".javaM3" />
        <activity android:name=".javaM4" />
        <activity android:name=".javaM5" />
        <activity android:name=".electricalVideos" />
        <activity android:name=".mechanicalVideos" />
        <activity android:name=".mathematicsIVIdeos" />
        <activity android:name=".chemistryVideos" />
        <activity android:name=".electronicsVideos" />
        <activity android:name=".cprogrammingVideos" />
        <activity android:name=".adeVideos" />
        <activity android:name=".dsVideos" />
        <activity android:name=".unixVideos" />
        <activity android:name=".oopsVideos" />
        <activity android:name=".mpVIdeos" />
        <activity android:name=".coVideos" />
        <activity android:name=".adaVideos" />
        <activity android:name=".cloudVideos" />
        <activity android:name=".dbmsVideos" />
        <activity android:name=".flatVideos" />
        <activity android:name=".seVideos" />
        <activity android:name=".bigdataVideos" />
        <activity android:name=".cnVideos" />
        <activity android:name=".dmVideos" />
        <activity android:name=".pythonVideos" />
        <activity android:name=".madVideos" />
        <activity android:name=".javaVideos"></activity>
    </application>

</manifest>